$color-black: #000000
$color-dark-gray: #212121
$color-black-gray: #2F303A
$color-gray: #757575
$color-light-gray: #ECECEC
$color-off-white: #F5F4FA
$color-white: #FFFFFF
$color-blue: #2196F3
    
@import "reset.css"

@import "modern-normalize.css"
    
*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: "Roboto", sans-serif
    font-weight: 700
    background: $color-black


body [data-inner] 
    max-width: 1170px
    margin: 0 auto

.container__logo a
    font-family: "Raleway", sans-serif
    font-size: 26px
    color: $color-blue

.container__logo span
    color: $color-black

.container__section-title
    text-align: center
    padding-bottom: 50px
    font-size: 36px
    font-weight: 700
    color: $color-dark-gray
    
.header
    width: 100%
    padding: 0 15px
    border: 1px solid $color-light-gray

.header__container
    display: flex
    align-items: center
    font-size: 14px
    font-weight: 500
    padding: 16px 0

.header__nav
    display: flex 
    gap: 50px
    padding: 0 365px 0 93px

.header__nav a
    color: $color-dark-gray
    
.header__contacts 
    display: flex
    gap: 50px

.header__contacts a
    color: $color-gray

.main
    width: 100%
    background-color: $color-black-gray

.main__container
    display: flex
    flex-direction: column
    align-items: center
    height: 600px

.main__title
    text-align: center
    padding: 200px 0 30px 0
    font-size: 44px
    font-weight: 900
    color: $color-white

.main__btn
    font-size: 16px
    font-weight: 700
    width: 216px
    height: 50px
    border: none
    border-radius: 4px
    color: $color-white
    background-color: $color-blue

.features
    padding-top: 94px
    height: 286px

.features__cards
    display: flex
    justify-content: space-between

.features__card
    width: 270px

.features__card-title
    font-size: 14px
    font-weight: 700
    padding-bottom: 10px
    color: $color-dark-gray

.features__card-text 
    font-size: 14px
    line-height: 24px
    color: $color-gray

.specialties
    height: 480px

.specialties__cards
    display: flex
    justify-content: space-between

.specialties__card

.specialties__card-img 

.team
    font-size: 16px
    padding-top: 94px
    height: 648px
    background: $color-off-white

.team__cards
    display: flex
    justify-content: space-between
    gap: 30px

.team__card
    display: flex
    flex-direction: column
    align-items: center
    width: 270px
    height: 368px
    background-color: $color-white

.team__card-img 

.team__card-title
    font-weight: 500
    padding: 30px 0 10px 0
    color: $color-dark-gray

.team__card-text
    color: $color-gray

.footer
    padding: 60px 0
    background-color: $color-black-gray

.footer__container span
    color: $color-white 

.footer__box


.footer__contacts
    display: flex
    flex-direction: column
    font-size: 14px
    padding-top: 20px
    gap: 12px

.footer__address-text
    color: $color-white
    
.footer__contacts a
    color: $color-white8e

.main-portfolio__container
    padding-bottom: 94px

.main-portfolio
    padding-top: 100px

.main__nav 
    display: flex
    justify-content: center
    padding-bottom: 50px
    gap: 8px

.main__nav a
    padding: 9.64px 22px
    font-size: 16px
    font-weight: 500
    border-radius: 4px
    color: $color-dark-gray
    background: $color-off-white

.main-portfolio li:first-child a
    padding: 9.64px 25px

.main-portfolio__cards 
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    gap: 30px

.main__card
    display: flex
    flex-direction: column
    width: 370px
    height: 404px
    border: 1px solid #EEEEEE

.main__card-img 

.main__card-title
    padding: 26px 0 0 24px
    font-size: 18px
    font-weight: 700
    color: $color-dark-gray

.main__card-text
    font-size: 16px
    padding: 20px 0 0 24px
    color: $color-gray